.container{
    background-color: rgba(30, 101, 79, 0.832);
    width: fit-content;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 8px 8px 5px 0px rgba(0,0,0,0.75);
    text-shadow: 6px 4px 7px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    
}

.closeButton {
    border: 2px;
    background-color: rgb(153, 51, 93);
    width: fit-content;
    height: fit-content;
    border-radius: 12px;        
}

.closeButton:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}